<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Hola Mundo</title>

	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css">


	<script th:src="@{js/jquery.js}"  src="../static/js/jquery.js"></script>
	<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</head>

<body>
	<h1>Curso de Spring Boot</h1>

	<!--NavBar-->
	<nav class="navbar navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" th:href="@{/}"href="#">Inicio</a>
        <a class="nav-link" href="#">Galeria</a>
        <a class="nav-link" href="#">Post</a>
        
      </div>
    </div>
  </div>
</nav>


<!--Acordion-->
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>

<br>
<br>
<br>


<!--Cards-->
<div class="container">
	<div class=row>
		<div class="col-3">
			<div class="card" style="width: 18rem;">
  				<img th:src="@{/img/post.jpg}" src="../static/img/post.jpg" class="card-img-top" alt="...">
  				<div class="card-body">
    				<h5 class="card-title">Card title</h5>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				<a href="#" class="btn btn-primary">Go somewhere</a>
  				</div>
			</div>
		</div>

		<div class="col-3">
			<div class="card" style="width: 18rem;">
  				<img th:src="@{/img/post.jpg}" src="../static/img/post.jpg" class="card-img-top" alt="...">
  				<div class="card-body">
    				<h5 class="card-title">Card title</h5>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				<a href="#" class="btn btn-primary">Go somewhere</a>
  				</div>
			</div>
		</div>

		<div class="col-3">
			<div class="card" style="width: 18rem;">
  				<img th:src="@{/img/post.jpg}" src="../static/img/post.jpg" class="card-img-top" alt="...">
  				<div class="card-body">
    				<h5 class="card-title">Card title</h5>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				<a href="#" class="btn btn-primary">Go somewhere</a>
  				</div>
			</div>
		</div>

		<div class="col-3">
			<div class="card" style="width: 18rem;">
  				<img th:src="@{/img/post.jpg}" src="../static/img/post.jpg" class="card-img-top" alt="...">
  				<div class="card-body">
    				<h5 class="card-title">Card title</h5>
    				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    				<a href="#" class="btn btn-primary">Go somewhere</a>
  				</div>
			</div>
		</div>

	</div>
</div>

<!--Pagination-->
<div class="container">
	<div class="row">
		<nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-center">
    			<li class="page-item">
      				<a class="page-link" href="#" aria-label="Previous">
        			<span aria-hidden="true">&laquo;</span>
      				</a>
    			</li>
    			<li class="page-item"><a class="page-link" href="#">1</a></li>
    			<li class="page-item"><a class="page-link" href="#">2</a></li>
    			<li class="page-item"><a class="page-link" href="#">3</a></li>
    			<li class="page-item">
      				<a class="page-link" href="#" aria-label="Next">
        				<span aria-hidden="true">&raquo;</span>
      				</a>
    			</li>
  			</ul>
		</nav>
	</div>
</div>




</body>
</html>